<div class="article">
    <h2>{{title}}</h2><br>
    <h3 class="article-date">{{date}}</h3><br>
    <h3 class="article-author">{{author}}</h3><br>
    <p class="article-body">{{content}}</p>
    <div class="article-tags">
        
    </div>
</div>