<!DOCTYPE html>
<html>
    {{>header}}
    <body>
        {{>navbar}}
        <h3 class="about-page">About</h3>
        <div class="about-page">The blog of TJ’s Creative Writing Club, previously named SKIFFY as a unique pronunciation of SCI-FY (Science Fiction & Fantasy).</div>
    </body>
</html>