<!DOCTYPE html>
<html>
    {{>header}}
    <body style="text-align:center;">
        <title>SKIFFY</title>
        {{>navbar}}
        <span>To edit your submission's content, go to this url: https://skiffy.herokuapp.com/post/{{url}}</span>
        <br>
        <span>Please save this URL to edit this submission in the future!</span>
    </body>
</html>